<!DOCTYPE html>
<html>
    <head>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<style>
    
.form-container{
    position: absolute;
    top: 20vh;
    background-color: #ffff;
      padding: 30px;
      border-radius: 15px;
      box-shadow:0px 0px 10px 0px #000;

}



</style>

</head>  
<body>
    <div style="
    background-image: url('https://images.unsplash.com/photo-1614850523011-8f49ffc73908?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8N3x8fGVufDB8fHx8&w=1500&q=80');
    height: 100vh;
  ">

<section class="container-fluid" >

       <section class="row justify-content-center">
        
        <section class="col-12 col-sm-5 col-md-3">
        <form class="form-container" method="post" action="adminLoginDB">
            <div class="mb-3">
              <h4>AdminLogin</h4>
              <label for="exampleInputEmail1" class="form-label"></label>
              <input type="text" class="form-control" name="uname" placeholder="UserName">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" placeholder="Password" name="pwd">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block" value="Login">Submit</button>
            
          </form>
          
    </section>
</section>
</section>


</body>

</html>
























<!-- 
<html>
 
<head>
  <style>
    body {background-color: powderblue;}
    a   {color: black;}
    
    </style>
    <link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
 
<body>

<div style="
    background-image: url('https://images.unsplash.com/photo-1611151394056-319824d98c09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQ3fHxob3RlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1360&q=60');
    height: 100vh;
  ">

    
  
    <div style="padding-left:500px;padding-top:150px;">
      <table border=1>
      <h4 text-align="center">Admin Login</h4>
      <form method="post" action="adminLoginDB">
      <tr><td>UserName</td><td><input type="text" name="uname"></td></tr>
      <tr><td>Password</td><td><input type="password" name="pwd"></td></tr>
      <tr><td colspan=2 align=center><input type="submit" value="Login"></td></tr>
      </form>
      </table>
      </div>
  </form> 
</div>
</body>
</html>
 -->