<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
        <style>
        
    
        h1 {
          text-align: center;
        }
    body{
    
     background-size: cover;
     text-align: center;
    }
    
    a:link, a:visited {
    background-color: #f1f1e9;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
    
    a:hover, a:active {
    background-color: rgb(18, 214, 18);
    }
</style>
      <body>
        
      <div style="
          background-image: url('https://images.unsplash.com/photo-1611151394056-319824d98c09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQ3fHxob3RlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1360&q=60');
          height: 100vh;
        ">
        
    
        <br><br><a href="#">You succesfully Logout From the page</a><br><br>
        <br><br><a href="Home">Click Here to Re-Login</a><br><br>
        



    
    
</body>
</html>