<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<!--<form method="post" action="searchRoomsDB">
<div style="padding-left:400px;padding-top:100px;">
<table border=1 width=500>
  <tr><td>Search Room</td>
    <td><select name=rtype>
    
    <option value=" ">
    
    <option value="Single Ac">Single AC
    <option value="Single NonAc">Single NonAC
      <option value="Double Ac">Double AC
        <option value="Double NonAc">Double NonAC
    </select>
    </td>
    <td><input type="submit" ></td>
    </tr>
    </table>-->

    <div style="
    background-image: url('https://images.unsplash.com/photo-1611151394056-319824d98c09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQ3fHxob3RlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1360&q=60');
    height: 100vh;
  ">
  <div>
    <form method="post" action="searchRoomsDB">
    <h1 align="center">Serach Room Here</h1>
    <center> <select name=rtype>
    
     <option value=" ">
      
      <option value="Single Ac">Single AC
      <option value="Single NonAc">Single NonAC
        <option value="Double Ac">Double AC
          <option value="Double NonAc">Double NonAC
      </select><center> 
        <br></br>
  <input class="SubmitButton" type="submit" name="SUBMITBUTTON" value="Submit" style="font-size:20px; background-color: whitesmoke; " />
</div>
</form>
</div>

</body>
</html>


