<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  


 <style>
   body {
   background: rgb(78, 196, 243);
   background-size: 400% 400%;
   animation: gradient 15s ease infinite;
}



table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: rgb(79, 100, 170);}

tr:hover {background-color: rgb(120, 111, 240);}
</style>


</head>
<body>

<h2 align="center">Available Rooms</h2>
  <div class="container " >
  <table class="table table-condensed"border="1" width="500" >
    <thead>
     
<tr><th>RoomNo</th><th>RoomType</th><th>RoomPrice</th><th>Status</th></tr>
</thead>
<tbody>
{% for row in d%}
<tr>
{% for col in row %}
<th>{{col}}</th>
{%endfor%}
<th>
<form method="post" action="BookRoom">

<input type="hidden" name="roomno" value="{{row[0]}}">
<input type="hidden" name="roomtype" value="{{row[1]}}">
<input type="hidden" name="roomprice" value="{{row[2]}}">
<!--Duration
<select name=days>
    
  <option value=" ">
   
   <option value="1">1
   <option value="2">2
     <option value="3">3
       <option value="4">4
   </select>-->
<input type="submit" value="BookRoom">
</form>
</th>

</tr>
</tbody>

{%endfor%}
</table>
<div style=" border-color:blue;text-align:center" >
  <button onclick="window.location.href = 'customerHomePage'">GoBack</button>
  
</div>
</div>
</body>
</html>


